<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<div th:fragment="registerModal">
    <div class="modal-body">
        <!--  create new account form-->
        <form th:action="@{/register}" th:object="${user}" class="row needs-validation" id="signUpForm" novalidate
              th:method="post">
            <div class="col-6 mb-3 ">
                <!-- first name-->
                <input th:field="*{firstName}" type="text" class="form-control" id="first_name" name="first_name"
                       placeholder="First name" pattern="^[a-zA-Z]{1,15}$" required/>
                <div class="invalid-feedback">
                    What's your name?
                </div>
            </div>
            <div class="col-6 mb-3">
                <!-- last name-->
                <input th:field="*{lastName}" type="text" class="form-control" id="last_name" name="last_name"
                       placeholder="Last name" pattern="^[a-zA-Z]{1,15}$" required/>
                <div class="invalid-feedback">
                    What's your last name?
                </div>
            </div>
            <div class="col-12 mb-3">
<!--                pattern="[a-zA-Z0-9\.]{1,20}+@[a-zA-Z0-9]{2,20}+[\.]+[a-zA-Z0-9\.]{2,10}$"-->
                <!-- email -->
                <input th:field="*{email}" type="email" class="form-control" id="email" name="email"
                       placeholder="Email"
                       pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][a-zA-Z]{2,})$"
                       required/>
                <div class="invalid-feedback">
                    Please enter valid email!
                </div>
            </div>
            <div class="col-12 mb-3">
                <!-- username -->
                <input th:field="*{username}" type="text" class="form-control" id="regUsername" name="username"
                       placeholder="Username" pattern="^[\w]{1,20}$" required/>
                <div class="invalid-feedback">
                    Please enter valid username!
                </div>
            </div>
            <div class="col-12 mb-3">
                <!-- password -->
                <input th:field="*{password}" type="password" class="form-control" id="regPassword" name="password"
                       placeholder="New password" pattern="^[\w]{4,20}$" required/>
                <div class="invalid-feedback">
                    Please enter password which contains 4-15 characters.
                </div>
            </div>
            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn create-acc text-light fw-bold fs-5 w-50 rounded-5">
                            Sign up
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:fragment="createPostModal" class="modal fade" id="createPostForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <!-- header -->
            <div class="modal-header">
                <h5 class="w-100 m-0 text-center ">Create post</h5>
                <button type="button" class="btn-close ms-0 btn-close-dark rounded-circle"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                <div class="mb-3">
                    <img src="https://unsplash.it/50" class="rounded-circle" alt="avatar">
                    <span th:text="${#authentication.name} " class="ms-2 fw-bold"></span>
                </div>
                <form th:action="@{/post/create}" th:object="${postAtt}" id="messageForm"
                      th:method="post">
                    <div class="form-control p-0 border-0 rounded-0 ">
                            <textarea th:field="*{postText}"
                                      onkeyup="btnActivation('post-button','post-text')"
                                      th:placeholder="'What\'s on your mind '+${#authentication.name}+'?'"
                                      class="form-control rounded-0 text-light" id="post-text" rows="7">
                            </textarea>
                    </div>
                </form>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="submit" form="messageForm" id="post-button"
                        class="btn w-100 rounded-2 fw-bold border-0" disabled>Post
                </button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="deleteCommentModal" class="delete__post">
    <div class="modal fade"
         th:id="'deleteCommentModal'+${comment.commentId}" tabindex="-1"
         aria-labelledby="deleteCommentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <h5 class="w-100 m-0 text-center"
                        id="deleteCommentModalLabel">Delete comment</h5>
                    <button type="button" class="btn-close rounded-circle"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <p th:text="${comment.commentText}"></p>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <form th:action="@{comment/delete/__${comment.commentId}__}" th:method="delete">
                        <button type="submit" class="btn btn-danger border-0 w-100">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="deletePostModal" class="delete__post">
    <div class="modal fade" th:id="'deletePostModal'+${post.getPostId()}" tabindex="-1"
         aria-labelledby="deletePostModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <h5 class="w-100 m-0 text-center" id="deletePostModalLabel">Delete post</h5>
                    <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <p th:text="${post.postText}"></p>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <form th:action="@{/post/delete/__${post.postId}__}" th:method="delete">
                        <button th:data-url-deletepost="'post/delete/'+${post.getPostId()}"
                                type="submit"
                                class="btn btn-danger border-0 w-100">Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="editPostModal" class="edit__post">
    <div class="modal fade" th:id="'editPostModal'+${post.getPostId()}" tabindex="-1"
         aria-labelledby="editPostModalLabel"
         aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-circle">
                <!-- header -->
                <div class="modal-header align-items-center">
                    <h5 class="w-100 m-0 text-center" id="editPostModalLabel">Edit post</h5>
                    <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <div class="mb-3">
                        <img src="https://unsplash.it/50" class="rounded-circle" alt="avatar">
                        <span th:text="${#authentication.name}" class="ms-2 fw-bold"></span>
                    </div>
                    <form th:id="'editPostForm'+${post.postId}" th:action="@{/post/edit}"
                          th:object="${postAtt}"
                          th:method="put">
                        <div class="form-control p-0 border-0 rounded-0">
                                            <textarea th:data-editPostId="${post.getPostId()}"
                                                      onkeyup="btnActivation('editPostButton'+this.getAttribute('data-editPostId'),'editPostText'+this.getAttribute('data-editPostId'))"
                                                      class="form-control rounded-0 text-light p-0"
                                                      th:id="'editPostText'+${post.getPostId()}"
                                                      th:field="*{postText}"
                                                      rows="7"></textarea>
                            <input type="hidden" th:value="${post.postId}" th:name="postId">
                        </div>
                    </form>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="submit" th:form="'editPostForm'+${post.postId}"
                            th:id="'editPostButton'+${post.getPostId()}"
                            class="btn w-100 border-0 rounded-2" disabled>Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="editCommentModal" class="edit__post">
    <div class="modal fade" th:id="'editCommentModal'+${comment.commentId}"
         tabindex="-1" aria-labelledby="editCommentModalLabel"
         aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-circle">
                <!-- header -->
                <div class="modal-header align-items-center">
                    <h5 class="w-100 m-0 text-center"
                        id="editCommentModalLabel">Edit comment</h5>
                    <button type="button" class="btn-close rounded-circle"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <div class="mb-3">
                        <img src="https://unsplash.it/50"
                             class="rounded-circle" alt="avatar">
                        <span th:text="${#authentication.name}"
                              class="ms-2 fw-bold"></span>
                    </div>
                    <form th:id="'editCommentForm'+${comment.commentId}"
                          th:object="${commentAtt}"
                          th:data-editCommentUrl="'comment/edit'"
                          th:action="@{/comment/edit}" th:method="put"
                    >
                        <div class="form-control p-0 border-0 rounded-0">
                            <!--                                                                        TODO:: SHOW COMMENT TEXT!?-->
                            <textarea
                                    th:data-editCommentId="${comment.commentId}"
                                    onkeyup="btnActivation('editCommentButton'+this.getAttribute('data-editCommentId'),'editCommentText'+this.getAttribute('data-editCommentId'))"
                                    class="form-control rounded-0 text-light p-0"
                                    th:id="'editCommentText'+${comment.commentId}"
                                    th:field="*{commentText}"
                                    rows="7"></textarea>
                        </div>
                        <input type="hidden" th:value="${comment.commentId}"
                               th:name="commentId">
                    </form>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="submit"
                            th:form="'editCommentForm'+${comment.commentId}"
                            th:id="'editCommentButton'+${comment.commentId}"
                            class="btn w-100 border-0 rounded-2" disabled>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:fragment="paginationLinks(pagination)" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
    <nav class="mt-2" aria-label="page navigation" th:if="${pagination.totalPages>1}" th:with="max=3">
        <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item" th:if="${pagination.hasPrevious()}">
                <a class="page-link"
                   th:href="@{${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pagination.number - 1).toUriString()}}"><i class="fas fa-arrow-left"></i></a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(0, pagination.totalPages-1)}"
                th:if="${pagination.number} >= ${page - max} and ${pagination.number} <= ${page + max} or ${page} == ${pagination.totalPages - 1} or ${page} == 0"
                th:classappend="${page} == ${pagination.number} ? 'active'">
                <span class="page-link" th:if="${pagination.number} == ${page + max} and ${page != 0}">...</span>
                <a class="page-link"
                   th:if="${pagination.number} > ${page - max} and ${pagination.number} < ${page + max} or ${page} == ${pagination.totalPages - 1} or ${page} == 0"
                   th:href="@{${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page).toUriString()}}" th:text="${page+1}">1</a>
                <span class="page-link" th:if="${pagination.number} == ${page - max} and ${page} != ${pagination.totalPages - 1}">...</span>
            </li>
            <li class="page-item" th:if="${pagination.hasNext()}">
                <a class="page-link"
                   th:href="@{${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pagination.number + 1).toUriString()}}"><i class="fas fa-arrow-right"></i></a>
            </li>
        </ul>
    </nav>
</th:block>
</html>