$clr-blue:#0084FF;
$clr-green:#42b72a;
$fbblue:#4267B2;
$darkgrey:#2C2C2C85;
$footerTextcolor:#6e6e6e;
$white:#fff;
$clr-white:#dde2e7;
$textcolor:#e1e3e8;
$defaultfont:'Segoe UI', sans-serif;
$clr-black:#18191a;
$lightgray:#919397;
$postcolor:#2C2C2C;
$clr-blue1:#20afff;
$clr-blue2:#0072e0;
$clr-input-bg:#f5f6f7;
$clr-createp-bg:#3a3b3c;
$clr-createp-color:#b0b3b8;
$clr-createpostM:#242526;
$lightgray70:#91939770;
$lightgray20:#91939730;
$scrollbar:#656768;